html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    font-family: "Pixelify Sans", sans-serif;
    background-image: url('/memorizeit_1/image/background_1.gif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #f2f2f2;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
    background-color: #ff54a9;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    
  }

  .game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hidden {
    display: none !important;
  }
  
  .invisble {
    visibility: hidden;
  }
  
  header {
    text-align: center;
    font-size: 18px;
  }
  
  .heading {
    font-size: 3em;
  }
  
  .tile-container {
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 180px 180px;
    grid-gap: 25px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .unclickable {
    pointer-events: none;
  }
  
  .tile-red {
    background-color: #df0f0f;
    box-shadow: 0 0 0 1px #be0c0c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #be0c0c, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }
  
  .tile-red:hover,
  .tile-red:focus {
    background-color: #f81414;
    box-shadow: 0 0 0 1px #d80f0f inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #d80f0f, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }
  
  .tile-red:active,
  .tile-red.activated {
    box-shadow: 0 0 0 1px #aa0b0b inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #bd0e0e;
    transform: translateY(10px);
  }
  
  .tile-green {
    background-color: #7fba00;
    box-shadow: 0 0 0 1px #7fba00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #638f05, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }
  
  .tile-green:hover,
  .tile-green:focus {
    background-color: #8cc218;
    box-shadow: 0 0 0 1px #8cc218 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #74a802, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6)
  }
  
  .tile-green:active,
  .tile-green.activated {
    box-shadow: 0 0 0 1px #a0ea00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #a0ea00;
    transform: translateY(10px);
  }
  
  .tile-yellow {
    background-color: #ffb900;
    box-shadow: 0 0 0 1px #ffb900 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c28e07, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }
  
  .tile-yellow:hover,
  .tile-yellow:focus {
    background-color: #ffb900;
    box-shadow: 0 0 0 1px #ffb900 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c28e07, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  }
  
  .tile-yellow:active,
  .tile-yellow.activated {
    box-shadow: 0 0 0 1px #ffca3d inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ffca3d;
    transform: translateY(10px);
  }
  
  .tile-blue {
    background-color: #00a4ef;
    box-shadow: 0 0 0 1px #00a4ef inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #0883bc, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }
  
  .tile-blue:hover,
  .tile-blue:focus {
    background-color: #139ddd;
    box-shadow: 0 0 0 1px #139ddd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #0c7cb0, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }
  
  .tile-blue:active,
  .tile-blue.activated {
    box-shadow: 0 0 0 1px #2bbcff inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #2bbcff;
    transform: translateY(10px);
  }

  .tile-purple {
    background-color: #800080;
    width: 180px;
    height: 180px;
    box-shadow: 0 0 0 2px #500550 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 1px #520252, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
}
  
  .tile-purple:hover,
  .tile-purple:focus {
    background-color: #861386;
    box-shadow: 0 0 0 1px #630663 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #5c035c, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }
  
  .tile-purple:active,
  .tile-purple.activated {
    box-shadow: 0 0 0 1px #af08af inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #c70fc7;
    transform: translateY(10px);
  }

  .tile-brown{
    background-color: #632925;
    box-shadow: 0 0 0 2px #4e201c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 1px #4e201c, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }

  .tile-brown:hover,
  .tile-brown:focus {
    background-color: #50211e;
    box-shadow: 0 0 0 1px #3f1a17 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #3f1a17, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }
  
  .tile-brown:active,
  .tile-brown.activated {
    box-shadow: 0 0 0 1px #682b27 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #79322d;
    transform: translateY(10px);
  }

  .tile-orange {
    background-color: #f25022;
    box-shadow: 0 0 0 1px #f25022 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c93a12, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    transition: 0.15s;
  }
  
  .tile-orange:hover,
  .tile-orange:focus {
    background-color: #ff451a;
    box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
  }
  
  .tile-orange:active,
  .tile-orange.activated {
    box-shadow: 0 0 0 1px #ff5c36 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    background-color: #ff5c36;
    transform: translateY(10px);
  }

  /* .tile-purple.hidden {
    animation: fadeOut 1s ease forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  } */
  
  .info-section {
    text-align: center;
  }

  .tile-container {
    display: flex;
    text-align: center;
  }
  
  .tile {
    width: 200px; /* ปรับขนาดตามที่ต้องการ */
    height: 200px; /* ปรับขนาดตามที่ต้องการ */
    margin-right: 10px; /* ระยะห่างระหว่างแต่ละ tile */
  }
  
  .tile-purple {
    background-color: purple;
  }
  
  .hidden {
    display: none; /* ซ่อน tile-purple เริ่มต้น */
  }
  
  .start-button {
    display: inline-block;
    font-family: "Pixelify Sans", sans-serif;
    height: 38px;
    padding: 0 30px;
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #bbb;
    cursor: pointer;
  }
  
  .start-button:hover {
    color: #000000;
    border-color: #ff54a9;
    outline: 0;
  }
  
  .info {
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-shadow: -2px -2px 0 #ffffff,  
    2px -2px 0 #ffffff,
   -2px  2px 0 #ffffff,
    2px  2px 0 #ffffff;
  }
  
  @media screen and (max-width: 550px) {
    .game {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .heading {
      font-size: 2em;
    }
  
    .tile-container {
      width: 100%;
      height: 100%;
      grid-template-rows: 150px 150px;
      grid-template-columns: 150px 150px;
    }
  }

  .button-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  
  .button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .button-left {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .tile {
    position: relative;
    overflow: hidden;
    cursor: pointer; /* เพิ่มปุ่มชี้เมื่อเม้าส์อยู่เหนือกรอบ */
  }
  
  .tile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.5); /* สีของขอบพิกเซล */
    transition: border-color 0.3s ease; /* เพิ่มการเปลี่ยนแปลงสีของขอบด้วย transition */
  }
  
  .tile:hover::before {
    border-color: rgba(0, 0, 0, 0.5); /* เปลี่ยนสีของขอบเมื่อเม้าส์อยู่เหนือ */
  }